*{
  padding: 0;
  margin: 0;
}
p{
  color: #3c3c3c;
  font-size: 23px;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 45px;
  margin-left: 30px;
  margin-right: 30px;
}
#generatedImage{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#generatedImage img{
  width: 20%;
}
@media (max-width: 1100px) {
    #generatedImage img{
    width: 50%;
  }
}

#buttonDiv{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.downloadBtn{
  width: 140px;
  height: 50px;
  padding: 10px 14px;
  background-color: rgb(14, 171, 163);
  border: 2px solid rgb(14, 171, 163);
  color: white;
  font-size: 18px;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease-in;
}
.downloadBtn:hover{
  background-color: rgb(6, 157, 150);
  border: rgb(6, 157, 150);
}
span{
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 0px 10px;
}

.loaderDiv{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.loaderDiv > div {
  margin: 0 20px;
}
.loader {
  left: auto;
  transform: translateX(-50%); /* Center the loader horizontally */
}
